body{
	background-color: #c4f9ff;
	margin: 60px;
	font-family: Dosis, sans-serif; 
	
}
	
div{
background-color: bisque;
padding: 30px;

/*margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
margin-left: 10px; */

margin: 10px 20px;

/*border-color: #000;
border-width: 1px; 
border-style: solid;*/

border: 1px #000 solid;
border-radius: 20px;
width: 40%;
float: left;

}


a{
	text-decoration: none;
	margin-right: 10px;
	color: #f08c78;
}

a:hover{
	color: #000;
	/*font-size: 22px;*/
	/*border: 1px #00f solid;*/

border-bottom: 3px #00f solid;

/*border-top, border-right, border-left*/

}

/*#sottolineato{
	text-decoration: underline;
}*/

.semplice:hover{
	border: 0;

}

#speciale{
	width: 90%;
	border: 1px #cd4236 dashed;
}

 #back{
 	background: url(../images/foto1.jpeg);
 }

h1{
	color: red;
	margin-left:50px;
	font-family: Nunito, sans-serif;
}

#verde{
	color: #91e374;
}

.verde.scuro{
	color: #abb88e;
}

p{
	font-size: 22px; 
	color: blue; 
	margin-left: 30px;
}

.verde{
	color: #91e374;
}

i.fa{
	color: red;
	margin-left: 20px;
	/*float: right;*/
}



img{
	float: right;
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

#left{
	float: none;
}

